<div class="block2">
  <%- include("partials/header") -%>

  <div class="w3-container w3-animate-opacity">
    <div class="block1">
      <b></b>
      <!-- <img src="profilePicture.png" width="500px" height="500px"> -->
      <h1 style="font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;"><span style="color: #1abc9c;">var</span> Welcome <span style="color: #33AEFF">=</span> {</h1>
      <h1 style="padding-left: 30px; font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;">Hi</h1>
      <p class="clock" id="demo" onload="myFunction()"></p>
      <h1 style="padding-left: 30px; font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;">I'm <span style="color:	#1abc9c;">Tim,</span></h1>
      <h1 style="padding-left: 30px; font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;">a <span class="animate"></span>}</h1>


        <script>
        setInterval(myFunction, 1);
        function myFunction() {
          var d = new Date();
          var n = d.toLocaleTimeString();
          document.getElementById("demo").innerHTML = n;
        }

          var typed = new Typed(".animate", {
            strings: ["Full Stack Developer.", "Designer.", "Student.","Musician.",],
            typeSpeed: 80,
            backSpeed: 70,
            loop: true
          });
        </script>

      <p><%= startingContent %></p>

      <div class="w3-animate-opacity">
        <ul class="nav navbar-nav navbar-space breakBox">
          <!-- 6 -->
          <a href="mailto:t22chung@uwaterloo.ca"><i class="material-icons zoom" style='font-size:32px; color: white;'>email</i></a>
          <a href="https://github.com/timhyc19" target="_blank"><i class='fab fa-github zoom' style='font-size:33px; color: white'></i></a>
          <a href="https://www.linkedin.com/in/tim-chung-7b12a9194/" target="_blank"><i class='fab fa-linkedin zoom' style='font-size:34px; color: white'></i></a>
        </ul>
      </div>
    </div>
  </div>

<div class="buttonPad">
  <a href="\compose"><button class="btn btn2" style="font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;">Make a Post</button></a>
</div>


  <div class="blogText w3-animate-left">
    <h1 style="font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;">Blog:</h1>


    <% console.log(posts); %>

    <% posts.forEach(function(post){ %>

    <h1><%=post.title %></h1>
    <p style="color: white;">
      <%=post.content.substring(0,100) + " ..." %>
      <a href="/posts/<%= post.title%>">Read More</a>
    </p>

    <% }); %>
  </div>
</div>

  <%- include("partials/footer") -%>
